<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=2, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>studyGuest</title>
</head>
<body>
    <input type="text" ng-model="guestInfo.name" placeholder="输入姓名">
    <input type="text" ng-model="guestInfo.phone" placeholder="输入电话">
    <button ng-click="invite()">邀请</button>
    <div>
        <table>
            <thead>
                <th>名字</th>
                <th>电话</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{guest.name}}</td>
                    <td>{{guest.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>